{% extends "base.html" %}
{% block content %}

<div class="page-title">Update Scorecard — {{ match_id }}</div>

<div class="card">
    <form method="POST">

        <label>Batting:</label>
        <textarea name="batting" rows="6">{{ card.batting }}</textarea>

        <label>Bowling:</label>
        <textarea name="bowling" rows="6">{{ card.bowling }}</textarea>

        <label>Fall of Wickets:</label>
        <textarea name="fall_of_wickets" rows="6">{{ card.fall_of_wickets }}</textarea>

        <label>Summary:</label>
        <textarea name="summary" rows="6">{{ card.summary }}</textarea>

        <button type="submit" class="button">Save Scorecard</button>
    </form>
</div>

{% endblock %}
