{% extends "base.html" %}
{% block content %}

<div class="page-title">Edit Player — {{ player }}</div>

<div class="card">
    <form method="POST">

        <label>Runs:</label>
        <input type="number" name="runs" value="{{ stats.runs }}" required>

        <label>Wickets:</label>
        <input type="number" name="wickets" value="{{ stats.wickets }}" required>

        <label>Points:</label>
        <input type="number" name="points" value="{{ stats.points }}" required>

        <button type="submit" class="button">Save Changes</button>
    </form>
</div>

{% endblock %}
