{% extends "base.html" %}
{% block content %}

<div class="page-title">Add Player</div>

<div class="card">
    <form method="POST">

        <label>Player Name:</label>
        <input type="text" name="name" required>

        <label>Team:</label>
        <select name="team" required>
            {% for t in roster.keys() %}
                <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="button">Add Player</button>
    </form>
</div>

{% endblock %}
