{% extends "base.html" %}
{% block content %}

<div class="page-title">Create Match</div>

<div class="card">
    <form method="POST">

        <label>Team 1 (Batting First):</label>
        <select name="team1" required>
            {% for t in teams %}
                <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>

        <label>Team 2 (Bowling First):</label>
        <select name="team2" required>
            {% for t in teams %}
                <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>

        <label>Date:</label>
        <input type="date" name="date" required>

        <label>Time:</label>
        <input type="time" name="time" required>

        <label>Venue:</label>
        <input type="text" name="venue" placeholder="Ground name" required>

        <button type="submit" class="button">Start Match</button>
    </form>
</div>

{% endblock %}
