{% extends "base.html" %}
{% block content %}

<h1>Admin Panel</h1>

<p>Choose an action below:</p>

<ul>
    <li><a href="/admin/update_points">Update Points Table</a></li>
    <li><a href="/admin/update_leaderboard">Update Leaderboard</a></li>
    <li><a href="/admin/update_matches">Update Match Results</a></li>
    <li><a href="/admin/live_score">Update Live Score</a></li>
    <li><a href="/admin/players">Manage Players</a></li>
    <li><a href="/admin/add_player">Add Player</a></li>
    <li><a href="/admin/create_match">Create Match</a></li>
    <li><a href="/admin/players">Manage Players</a></li>
    <li><a href="/admin/ball_update">Add Ball-by-Ball Entry</a></li>
    <li><a href="/admin/reset_match">Reset Match</a></li>
    <li><a href="/admin/save_match">Save Match</a></li>
    <li><a href="/saved_matches">Saved Matches</a></li>



</ul>

{% endblock %}
