{% extends "base.html" %}
{% block content %}

<h1>Update Match Results</h1>

<form method="POST">
    <label>Match Number:</label>
    <input type="number" name="match_no"><br><br>

    <label>Winner:</label>
    <input type="text" name="winner"><br><br>

    <label>Win Margin:</label>
    <input type="text" name="margin"><br><br>

    <label>Team 1:</label>
    <input type="text" name="team1"><br><br>

    <label>Team 1 Runs:</label>
    <input type="number" name="team1_runs"><br><br>

    <label>Team 1 Overs:</label>
    <input type="text" name="team1_overs"><br><br>

   <label>Team 2:</label>
<input type="text" name="team2"><br><br>

<label>Team 2 Runs:</label>
<input type="number" name="team2_runs"><br><br>

<label>Team 2 Overs:</label>
<input type="text" name="team2_overs"><br><br>

<label>Winner:</label>
<input type="text" name="winner"><br><br>


    <button type="submit">Update</button>
</form>

{% endblock %}
