{% extends "base.html" %}
{% block content %}

<div class="page-title">Leaderboard</div>

<div class="card">
    <table>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Runs</th>
            <th>Wickets</th>
            <th>Points</th>
        </tr>

        {% for name, s in leaderboard %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ s.team }}</td>
            <td>{{ s.runs }}</td>
            <td>{{ s.wickets }}</td>
            <td>{{ s.points }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
