{% extends "base.html" %}
{% block content %}

<h1>Match Schedule</h1>

<table border="1" cellpadding="10" style="border-collapse: collapse; width: 100%;">
    <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Time</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Note</th>
    </tr>

    {% for m in matches %}
    <tr>
        <td>{{ m.day }}</td>
        <td>{{ m.date }}</td>
        <td>{{ m.time }}</td>
        <td>{{ m.team1 }}</td>
        <td>{{ m.team2 }}</td>
        <td>{{ m.note if m.note else "" }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
