{% extends "base.html" %}
{% block content %}

<div class="page-title">Points Table</div>

<div class="card">
    <table>
        <tr>
            <th>Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Points</th>
            <th>NRR</th>
        </tr>

        {% for row in points %}
        <tr>
            <td>{{ row.team }}</td>
            <td>{{ row.played }}</td>
            <td>{{ row.won }}</td>
            <td>{{ row.lost }}</td>
            <td>{{ row.points }}</td>
            <td>{{ row.nrr }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
